Hospital data integration for severity prognosis study in COVID-19

Autors: Maria Gabriela Valeriano, Ana Carolina Lorena, Carlos Kiffer

Source: Hospital Beneficência Portuguesa, made available by FAPESP through COVID-19 Data Sharing/BR-USP. The original data is available at https://repositoriodatasharingfapesp.uspdigital.usp.br/

The original data is divided in three files: Pacients, Tests and Outcomes. Each patient has an id and each patient hospital visit receive an new id_attendance as identification. 

In the file tests, there are some cases when the same test have similar but divergent label. This cases were resolved with the help of an expert. The file 'bpsp_exames_01_labels.csv' have this issues corrected. The corrected file and the correspondent codes could be found at github.com/gabivaleriano/defend-prognosis.

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.1     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
#file: Pacientes

#read the file
patients <- read.csv("bpsp_pacientes_01.csv", sep = "|", stringsAsFactors = FALSE)

#dimensions
patients %>% dim

#check for repeated lines 
patients %>% unique %>% dim

[1] 39000     7

[1] 39000     7

In [3]:
#rename columns
names(patients) <- c('id', 'sex', 'birth_year', 'country', 'state', 'city', 'zip_code')

#number of patients
patients %>% select(id) %>% unique %>% nrow

[1] 39000

In [4]:
#file: Tests

#read file
tests <- read.csv("bpsp_exames_01_labels.csv", stringsAsFactors = FALSE)

#dimensions
tests %>% dim

#check for repeated lines 
tests %>% unique %>% dim

#remove repeated lines 
tests %>% unique -> tests

#number of patients 
tests %>% select(id) %>% unique %>% dim

[1] 5339293      10

[1] 5229119      10

[1] 33800     1

In [5]:
#convert commas -> dots
tests <- data.frame(lapply(tests, function(x) {gsub(",", ".", x)}))

In [6]:
#rename columns
names(tests) <- c('id', 'id_attendance', 'test_date', 'place', 'result', 'measurement_unit', 'normal_value', 'test', 'analyte', 'test_analyte')

#number of id_attendance 
tests %>% select(id_attendance) %>% unique %>% dim

[1] 76506     1

In [7]:
#file: Outcomes

#read the file
outcomes <- read.csv("bpsp_desfecho_01.csv", sep = "|", stringsAsFactors = FALSE) 

#dimensions
outcomes %>% dim

#check for repeated lines 
outcomes %>% unique %>% dim

[1] 217991      8

[1] 217991      8

In [8]:
#rename columns 'clinic', 'result', 'measurement_unit', 'normal_value', 'test', 'analyte', 'test_analyte'
names(outcomes) <- c('id', 'id_attendance', 'attendance_date', 'attendance_type', 'id_clinic', 'clinic', 'outcome_date','outcome_patient')

#number of patients and attendances
outcomes %>% select(id) %>% unique %>% dim
outcomes %>% select(id_attendance) %>% unique %>% dim

[1] 39001     1

[1] 217991      1

In [9]:
#when outcome_patient == death, it does not have outcome_date 
#this issue is due to the criteria adopted for anonymization by the institution that provided the data

outcomes %>% 
filter(str_detect(outcome_patient, 'Obito')) %>%  
count(outcome_date)

  outcome_date n
1 DDMMAA       834

In [10]:
#check the birth_year
patients %>% count(birth_year)

#when birth year == AAAA the year of birth is equal to or before 1930 
#information given by institution that provided the data
patients$birth_year[patients$birth_year == 'AAAA'] <- '1930'

#check the transformation
patients %>% count(birth_year)

   birth_year n
1  1931        17
2  1932        30
3  1933        27
4  1934        42
5  1935        42
6  1936        40
7  1937        46
8  1938        37
9  1939        42
10 1940        56
11 1941        50
12 1942        55
13 1943        57
14 1944        60
15 1945        67
16 1946        81
17 1947        80
18 1948        81
19 1949        90
20 1950       118
21 1951       104
22 1952       124
23 1953       132
24 1954       121
25 1955       161
26 1956       128
27 1957       146
28 1958       125
29 1959       104
30 1960       132
⋮  ⋮          ⋮
63 1993         221
64 1994         230
65 1995         181
66 1996         149
67 1997         157
68 1998         106
69 1999         127
70 2000          84
71 2001          71
72 2002          56
73 2003          46
74 2004          53
75 2005          25
76 2006          21
77 2007          27
78 2008          23
79 2009          23
80 2010          36
81 2011          16
82 2012          23
83 2013          23
84 2014          29
85 2015          23
86 2016          38
87 2017          29
88 2018          45
89 2019          56
90 2020          73
91 AAAA         107
92 YYYY       28243

   birth_year n
1  1930       107
2  1931        17
3  1932        30
4  1933        27
5  1934        42
6  1935        42
7  1936        40
8  1937        46
9  1938        37
10 1939        42
11 1940        56
12 1941        50
13 1942        55
14 1943        57
15 1944        60
16 1945        67
17 1946        81
18 1947        80
19 1948        81
20 1949        90
21 1950       118
22 1951       104
23 1952       124
24 1953       132
25 1954       121
26 1955       161
27 1956       128
28 1957       146
29 1958       125
30 1959       104
⋮  ⋮          ⋮
63 1992         209
64 1993         221
65 1994         230
66 1995         181
67 1996         149
68 1997         157
69 1998         106
70 1999         127
71 2000          84
72 2001          71
73 2002          56
74 2003          46
75 2004          53
76 2005          25
77 2006          21
78 2007          27
79 2008          23
80 2009          23
81 2010          36
82 2011          16
83 2012          23
84 2013          23
85 2014          29
86 2015          23
87 2016          38
88 2017          29
89 2018          45
90 2019          56
91 2020          73
92 YYYY       28243

In [11]:
#transform the colums outcome_date, attendance_date and test_date to date format
outcomes$outcome_date <- as.Date(outcomes$outcome_date, format="%d/%m/%Y")
outcomes$attendance_date<- as.Date(outcomes$attendance_date, format="%d/%m/%Y")
tests$test_date <- as.Date(tests$test_date, format="%d/%m/%Y")

#dimensions
outcomes %>% dim

#create a new column with the number of days between the first attendance and the outcome 
outcomes %>% mutate(outcome_days = (difftime(outcomes$outcome_date, outcomes$attendance_date, unit = "days"))) -> outcomes
outcomes$outcome_days <- as.integer(outcomes$outcome_days)

[1] 217991      8

In [12]:
#check attendance_date
outcomes %>% count(attendance_date)

    attendance_date n
1   2015-09-08      1
2   2015-09-10      1
3   2015-09-14      1
4   2016-12-01      1
5   2017-01-06      1
6   2017-01-26      1
7   2017-02-01      1
8   2017-02-13      1
9   2017-02-14      1
10  2017-02-16      1
11  2017-02-17      1
12  2017-02-23      1
13  2017-03-10      1
14  2017-03-25      1
15  2017-04-17      1
16  2017-05-02      1
17  2017-05-19      1
18  2017-05-30      1
19  2017-06-01      1
20  2017-06-08      1
21  2017-06-27      1
22  2017-06-28      1
23  2017-06-29      1
24  2017-07-01      3
25  2017-07-03      4
26  2017-07-07      2
27  2017-07-11      1
28  2017-07-12      1
29  2017-07-13      1
30  2017-07-17      6
⋮   ⋮               ⋮
541 2021-01-02       364
542 2021-01-03       224
543 2021-01-04       937
544 2021-01-05      1036
545 2021-01-06       975
546 2021-01-07      1057
547 2021-01-08       872
548 2021-01-09       423
549 2021-01-10       211
550 2021-01-11      1130
551 2021-01-12      1025
552 2021-01-13       987
553 2021-01-14      1030
554 2021-01-15       852
555 2021-01-16       410
556 2021-01-17       165
557 2021-01-18      1053
558 2021-01-19      1016
559 2021-01-20       932
560 2021-01-21       933
561 2021-01-22       812
562 2021-01-23       314
563 2021-01-24       156
564 2021-01-25       384
565 2021-01-26       977
566 2021-01-27       884
567 2021-01-28       944
568 2021-01-29       700
569 2021-01-30       335
570 2021-01-31        98

In [13]:
#join patients, tests and outcomes
tests %>% left_join(patients) -> tests
tests %>% left_join(outcomes) -> tests

#check how many patients (ids) and attendances (id_attendance) 
tests %>% select(id) %>% unique %>% dim
tests %>% select(id_attendance) %>% unique %>% dim

#create a new column with the number of days between the first attendance and the test
tests %>% mutate(test_days = (difftime(tests$test_date, tests$attendance_date,  unit = "days"))) -> tests
tests$test_days <- as.integer(tests$test_days)

#dimensions
tests %>% dim

Joining, by = "id"

Joining, by = c("id", "id_attendance")

[1] 33800     1

[1] 76506     1

[1] 5229119      24

In [ ]:
tests %>% write_csv('bp_integrated.csv')