Hospital data preprocessing for severity prognosis study in COVID-19

Autors: Maria Gabriela Valeriano, Ana Carolina Lorena, Carlos Kiffer

Source: Hospital Sírio Libanes, made available by FAPESP through COVID-19 Data Sharing/BR-USP. The original data is available at https://repositoriodatasharingfapesp.uspdigital.usp.br/

The data is divided in three files: Pacients, Tests and Outcomes. Each patient has an id and each patient hospital visit receive an new id_attendance as identification. 

In the file tests, there are some cases when the same test have similar but divergent label. This cases were resolved with the help of an expert. The file 'HSL_Exames_4_labels.csv' have this issues corrected.

In [1]:
library(tidyverse)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.0 ──

✔ ggplot2 3.3.1     ✔ purrr   0.3.4
✔ tibble  3.0.1     ✔ dplyr   1.0.0
✔ tidyr   1.1.0     ✔ stringr 1.4.0
✔ readr   1.3.1     ✔ forcats 0.5.0

── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
#file: Pacientes

#read the file
patients <- read.csv("HSL_Pacientes_4.csv", sep = "|", stringsAsFactors = FALSE)

#dimensions
patients %>% dim

#check for repeated lines 
patients %>% unique %>% dim

[1] 14673     7

[1] 14673     7

In [3]:
#rename columns
names(patients) <- c('id', 'sex', 'birth_year', 'country', 'state', 'city', 'zip_code')

#number of patients
patients %>% select(id) %>% unique %>% nrow

[1] 14673

In [4]:
#file: tests

#read file
tests <- read.csv("HSL_Exames_4_labels.csv", stringsAsFactors = FALSE)

#dimensions
tests %>% dim

#check for repeated lines 
tests %>% unique %>% dim

#remove repeated lines 
tests %>% unique -> tests

#number of patients in file 
tests %>% select(id) %>% unique %>% dim

[1] 2952999      10

[1] 2891301      10

[1] 14673     1

In [5]:
#convert commas -> dots
tests <- data.frame(lapply(tests, function(x) {gsub(",", ".", x)}))

In [6]:
#rename columns
names(tests) <- c('id', 'id_attendance', 'test_date', 'place', 'result', 'measurement_unit', 'normal_value', 'test', 'analyte', 'test_analyte')
tests %>% select(id_attendance) %>% unique %>% dim

[1] 37364     1

In [7]:
#file: Desfechos

#read the file
outcomes <- read.csv("HSL_Desfechos_4.csv", sep = "|", stringsAsFactors = FALSE) 

#dimensions
outcomes %>% dim

#check for repeated lines 
outcomes %>% unique %>% dim

[1] 89937     8

[1] 89937     8

In [8]:
#rename columns 'clinic', 'result', 'measurement_unit', 'normal_value', 'test', 'analyte', 'test_analyte'
names(outcomes) <- c('id', 'id_attendance', 'attendance_date', 'attendance_type', 'id_clinic', 'clinic', 'outcome_date','outcome_patient')

#number of patients and attendances
outcomes %>% select(id) %>% unique %>% dim
outcomes %>% select(id_attendance) %>% unique %>% dim

[1] 14672     1

[1] 89937     1

In [9]:
#when outcome_patient == death, it does not have outcome_date 
#this issue is due to the criteria adopted for anonymization by the institution that provided the data

outcomes %>% 
filter(str_detect(outcome_patient, 'Óbito')) %>%  
count(outcome_date)

  outcome_date n
1 DDMMAA       202

In [10]:
#check the birth_year
patients %>% count(birth_year)

#when birth year == AAAA the year of birth is equal to or before 1930 
#information given by institution that provided the data
patients$birth_year[patients$birth_year == 'AAAA'] <- '1930'

#check the transformation
patients %>% count(birth_year)

   birth_year n
1  1931        18
2  1932        22
3  1933        32
4  1934        33
5  1935        37
6  1936        38
7  1937        38
8  1938        44
9  1939        51
10 1940        56
11 1941        51
12 1942        62
13 1943        59
14 1944        69
15 1945        64
16 1946        64
17 1947        75
18 1948       107
19 1949        77
20 1950        98
21 1951       107
22 1952       105
23 1953       104
24 1954       105
25 1955       117
26 1956       137
27 1957       122
28 1958       135
29 1959       143
30 1960       155
⋮  ⋮          ⋮
63 1993       250
64 1994       229
65 1995       214
66 1996       196
67 1997       176
68 1998       164
69 1999       138
70 2000       155
71 2001       129
72 2002        96
73 2003        89
74 2004        95
75 2005        75
76 2006        63
77 2007        48
78 2008        41
79 2009        50
80 2010        42
81 2011        36
82 2012        42
83 2013        42
84 2014        36
85 2015        32
86 2016        27
87 2017        32
88 2018        39
89 2019        40
90 2020        17
91 AAAA       125
92 YYYY       100

   birth_year n
1  1930       125
2  1931        18
3  1932        22
4  1933        32
5  1934        33
6  1935        37
7  1936        38
8  1937        38
9  1938        44
10 1939        51
11 1940        56
12 1941        51
13 1942        62
14 1943        59
15 1944        69
16 1945        64
17 1946        64
18 1947        75
19 1948       107
20 1949        77
21 1950        98
22 1951       107
23 1952       105
24 1953       104
25 1954       105
26 1955       117
27 1956       137
28 1957       122
29 1958       135
30 1959       143
⋮  ⋮          ⋮
63 1992       259
64 1993       250
65 1994       229
66 1995       214
67 1996       196
68 1997       176
69 1998       164
70 1999       138
71 2000       155
72 2001       129
73 2002        96
74 2003        89
75 2004        95
76 2005        75
77 2006        63
78 2007        48
79 2008        41
80 2009        50
81 2010        42
82 2011        36
83 2012        42
84 2013        42
85 2014        36
86 2015        32
87 2016        27
88 2017        32
89 2018        39
90 2019        40
91 2020        17
92 YYYY       100

In [11]:
#transform the colums outcome_date, attendance_date and test_date to date format
outcomes$outcome_date <- as.Date(outcomes$outcome_date, format="%d/%m/%Y")
outcomes$attendance_date<- as.Date(outcomes$attendance_date, format="%d/%m/%Y")
tests$test_date <- as.Date(tests$test_date, format="%d/%m/%Y")

#dimensions
outcomes %>% dim

#create a new column with the number of days between the first attendance and the outcome 
outcomes %>% mutate(outcome_days = (difftime(outcomes$outcome_date, outcomes$attendance_date, unit = "days"))) -> outcomes
outcomes$outcome_days <- as.integer(outcomes$outcome_days)

[1] 89937     8

In [ ]:
#check attendance_date
outcomes %>% count(attendance_date)

In [12]:
#join patients, tests and outcomes
tests %>% left_join(patients) -> tests
tests %>% left_join(outcomes) -> tests

#check how many patients (ids) are present 
tests %>% select(id) %>% unique %>% dim
tests %>% select(id_attendance) %>% unique %>% dim

#create a new column with the number of days between the first attendance and the test
tests %>% mutate(test_days = (difftime(tests$test_date, tests$attendance_date,  unit = "days"))) -> tests
tests$test_days <- as.integer(tests$test_days)

#dimensions
tests %>% dim

Joining, by = "id"

Joining, by = c("id", "id_attendance")

[1] 14673     1

[1] 37364     1

[1] 2891301      24

In [ ]:
tests %>% write_csv('hsl_integrated.csv')